

#collabForm{
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.two-column {
  display: flex;
  gap: 30px;
}

.two-column .form-group {
  flex: 1;
}

.form-group {
  width: 100%;
  margin-bottom: 20px;
}


.form-group input,
.form-group select {
  width: 100%;
  height:45px !important;
  padding: 12px;
  border: 1px solid var(--border);
  border-radius: 10px;
  background: var(--black) !important;
  color: var(--text);
  outline: none;
  font-size: 0.85rem;
}



.form-group textarea{
   width: 100%;
  height:auto !important;
  padding: 12px;
  border: 1px solid var(--border);
  border-radius: 10px;
  background: var(--card-bg);
  color: var(--text);
  outline: none;
  font-size: 0.85rem;
}


.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
  border-color: var(--text-hover);
}


#statusMessage {
  color: var(--text-highlight);
  font-size: 0.9rem;
  margin-top: 5px; /* remove spacing */
  white-space: nowrap; /* prevent wrapping */
}

 .btn-form {
  width:50%;
  display: inline-block;
  padding: 13px 30px;
  border:1px solid var(--border);
  border-radius: 7px;
   background: var(--text) !important;
  color: var(--black);
  text-decoration: none;
  letter-spacing: 1px; 
  font-weight: 500;
  transition: 0.3s ease;
  position: relative;
  font-size: 0.75rem;
  text-transform: uppercase;
}

.btn-form:hover {
  background: var(--btn-bgh) !important;
  border:1px solid var(--border-h);
  color: var(--text-highlight);
}


.form-group select {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--border);
  border-radius: 10px;
  background-color: var(--card-bg);
  color: rgb(194, 191, 191) !important;
  forced-color-adjust: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image:
    linear-gradient(45deg, transparent 50%, rgb(194,191,191) 50%),
    linear-gradient(135deg, rgb(194,191,191) 50%, transparent 50%);
  background-position:
    calc(100% - 20px) calc(50% - 3px),
    calc(100% - 14px) calc(50% - 3px);
  background-size: 6px 6px;
  background-repeat: no-repeat;
}

.form-group select option {
  background: #070707;
  color: rgb(194, 191, 191);
}


.form-group select option:hover {
  background: #2a2a2a;
  color: var(--white);
}

.form-group select option:checked {
  background: var(--btn-bg);
  color: var(--white);
}















@media(max-width:757px){
  
 .two-column {
    flex-direction: column;
    gap:0 !important;
  }


  
 .btn-form {
  width: auto;
  display: inline-block;
  padding: 13px 30px;
  border:1px solid var(--border);
  border-radius: 7px;
   background: var(--btn-bg) !important;
  color: var(--text-hover);
  text-decoration: none;
  letter-spacing: 1px; 
  font-weight: 500;
  transition: 0.3s ease;
  position: relative;
  font-size: 0.75rem;
  text-transform: uppercase;
}


}







