/* =========================================
   HIRE CONTACT SECTION
========================================= */


.freelance-contact-grid {
  display: grid;
  grid-template-columns:  1.08fr 0.92fr;
  gap: 70px;
  position: relative;
  width: 1200px;
  margin: auto;
}


.hire-contact-grid {
  display: grid;
  grid-template-columns: 0.92fr 1.08fr;
  gap: 28px;
  position: relative;
  width: 1200px;
  margin: auto;
}

/* =========================================
   CARDS
========================================= */

.contact-about-card,
.hire-form-card {
  background: var(--btn-bg);
  border: 1px solid var(--border);
  border-radius: 13px;
  padding: 20px;
}

.hire-about-card {
  min-height: 590px;
}

.hire-form-card {
  min-height: 590px;
}


/* =========================================
   CARD HEADING
========================================= */

.contact-card-heading {
  display: flex;
  gap: 17px;
  align-items: flex-start;
}

.card-icon {
  width: 45px;
  height: 45px;
  flex: 0 0 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--black);
  color: #ffffff;
  font-size: 20px;
}

.card-icon-whatsapp{
   width: 45px;
  height: 45px;
  flex: 0 0 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
 background: #142119;
  color: #25d366;
  font-size: 22px;
}

.contact-card-heading h3 {
  margin: 3px 0 7px;
  font-size: 21px;
  line-height: 1.2;
}

.contact-card-heading p {
  margin: 0;
  color: var(--text);
  font-size: 0.95rem;
  line-height: 1.6;
}

/* =========================================
   DIVIDER
========================================= */

.hire-divider {
  height: 1px;

  background: #292929;

  margin: 28px 0;
}


/* =========================================
   INFO
========================================= */

.contact-info-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.contact-icon{
  font-size: 1.5rem;
}

.contact-info-item {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}

.contact-info-item small {
  display: block;
  margin-bottom: 5px;
  color: var(--text);
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

.contact-info-text {
  color: var(--white) !important;
  font-size: 1rem;
  margin: 0;
}

.contact-info-item a:hover {
  color: var(--white);
  text-decoration: underline !important;
   font-size: 1rem;
}

/* =========================================
   ROLE TAGS
========================================= */

.role-tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 7px;
  color: var(--white);
}

.role-tags i {
  color: var(--text);
}


/* =========================================
   RESUME BUTTON
========================================= */

.resume-btn {
  display: flex;
  align-items: center;
  gap: 13px;
  width: 100%;
  margin-top: 30px;
  padding: 15px 17px;
  border-radius: 12px;
  background: #171717;
  border:1px solid var(--border);
  border-radius: 7px;
  color: var(--white);
  text-decoration: none;

  transition:
    background 0.25s ease,
    border-color 0.25s ease,
    transform 0.25s ease;
}

.resume-arrow {
  color: #aaaaaa;
  font-size: 19px;
  display: inline-block;
  animation: arrowMove 1.2s ease-in-out infinite;
}

@keyframes arrowMove {
  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(6px);
  }
}

.resume-btn:hover .resume-arrow {
  color: var(--white);
}

.social-section > span {
  display: block;
  margin-bottom: 15px;
  color: #888;
  font-size: 1rem;
}


/* =========================================
   SUBMIT
========================================= */



.two-column {
  display: flex;
  gap: 30px;
}

.two-column .form-group {
  flex: 1;
}

.form-group {
  width: 100%;
  margin-bottom: 20px;
}


.form-group input,
.form-group select {
  width: 100%;
  height:50px !important;
  padding: 15px;
  border: 1px solid var(--border);
  border-radius: 7px;
  background: var(--black) !important;
  color: var(--text);
  outline: none;
  font-size: 0.8rem;
}

.form-group textarea{
   width: 100%;
  height:auto !important;
  padding: 12px;
  border: 1px solid var(--border);
  border-radius: 10px;
  background: var(--black);
  color: var(--text);
  outline: none;
  font-size: 0.85rem;
}


.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
  border-color: var(--text-hover);
}


#statusMessage {
  color: var(--text-highlight);
  font-size: 0.9rem;
  margin-top: 5px; /* remove spacing */
  white-space: nowrap; /* prevent wrapping */
}


.form-group select {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--border);
  border-radius: 10px;
  background-color: var(--card-bg);
  color: rgb(194, 191, 191) !important;
  forced-color-adjust: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image:
    linear-gradient(45deg, transparent 50%, rgb(194,191,191) 50%),
    linear-gradient(135deg, rgb(194,191,191) 50%, transparent 50%);
  background-position:
    calc(100% - 20px) calc(50% - 3px),
    calc(100% - 14px) calc(50% - 3px);
  background-size: 6px 6px;
  background-repeat: no-repeat;
}

.form-group select option {
  background: #070707;
  color: rgb(194, 191, 191);
}


.form-group select option:hover {
  background: #2a2a2a;
  color: var(--white);
}

.form-group select option:checked {
  background: var(--btn-bg);
  color: var(--white);
}

.submit-button {
  width: 100%;
  padding: 15px 18px;
  border: none;
  border-radius: 7px;
  background: var(--text) !important;
  color: var(--black);
  letter-spacing: 0.8px;
  font-weight: bold;
  transition:
    background 0.4s ease,
    transform 0.4s ease;
}

.submit-button:hover {
  background: var(--text-h) !important;
  transform: translateY(-1px);
}

.submit-button span:last-child {
  font-size: 1rem;
}


/* =========================================
   WHATSAPP CARD
========================================= */

.whatsapp-card {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  width: 1200px;
  margin: auto;
  gap: 40px;
  margin-top: 28px;
  padding: 15px 20px;
  border: 1px solid var(--border);
  border-radius: 13px;
  background: var(--btn-bg);
}

.whatsapp-content {
  display: flex;
  align-items: center;
  gap: 16px;
}

.whatsapp-content h3 {
  margin: 0 0 15px;
  font-size: 1.3rem;
}

.whatsapp-content p {
  margin: 0;
  color: var(--text);
  font-size: 0.79rem;
}


/* =========================================
   QR
========================================= */

.whatsapp-qr-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.whatsapp-qr {
  width: 90px;
  height: 90px;
  display: block;
  padding: 5px;
  background: #ffffff;
  border-radius: 8px;
}

.qr-text {
  color: #aaa;
  font-size: 13px;
  white-space: nowrap;
}

.whatsapp-button {
  justify-self: end;
  display: inline-flex;
  align-items: center;
  gap: 9px;
  padding: 14px 20px;
  border: 1px solid var(--border);
  border-radius: 999px;
  background: #111;
  color: var(--white);
  text-decoration: none;
  font-size: 1rem;
  transition: all 0.25s ease;
}

.whatsapp-button:hover {
  border-color: #25d366;
  background: #142119;
}

.whatsapp-small-icon {
  color: #25d366;
}

.whatsapp-response {
  grid-column: 3;
  justify-self: end;
  margin: -27px 20px 0 0;
  color: #666;
  font-size: 11px;
}

.reply{
  text-align: center;
}

/* /////////////////// */



.whatsapp-scan-wrapper {
  display: grid;
  align-items: center;
  gap: 16px;
}

.whatsapp-scan {
  width: 60%;
  margin: auto;
  display: block;
  padding: 5px;
  background: var(--white);
  border-radius: 8px;
}

.scan-text {
  color: #aaa;
  font-size: 1.7rem;
  white-space: nowrap;
  text-align: center;
}

.freelance-contact-grid .contact-about-card {
  display: flex;
  flex-direction: column;
}

.whatsapp-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
  width: fit-content;
  margin: auto auto 0;
  padding: 14px 20px;
  border: 1px solid var(--border);
  border-radius: 999px;
  background: #111;
  color: var(--white);
  text-decoration: none;
  font-size: 1rem;
  transition: all 0.25s ease;
}

.whatsapp-btn:hover {
  border-color: #25d366;
  background: #142119;
}

/* =========================================
   TABLET
========================================= */

@media (max-width: 1199px) and (min-width:758px) {

  .hire-contact-grid {
    grid-template-columns: 1fr;
  }

  .hire-about-card,
  .hire-form-card {
    min-height: auto;
  }

  .hire-whatsapp-card {
    grid-template-columns: 1fr 1fr;
  }

  .whatsapp-button {
    justify-self: start;
  }

  .whatsapp-response {
    grid-column: 2;
    justify-self: start;
    margin: 0;
  }
}


/* =========================================
   MOBILE
========================================= */

@media (max-width: 757px) {

  .hire-contact-section {
    padding: 75px 18px 80px;
  }

  .hire-contact-header {
    margin-bottom: 35px;
  }

  .hire-contact-header h2 {
    font-size: 42px;
    letter-spacing: -2px;
  }

  .hire-contact-header p {
    font-size: 15px;
  }

  .hire-about-card,
  .hire-form-card {
    padding: 24px 20px;

    border-radius: 14px;
  }

  .hire-input-row {
    grid-template-columns: 1fr;
  }

  .hire-input-row .hire-input + .hire-input {
    margin-top: 16px;
  }

  .hire-whatsapp-card {
    grid-template-columns: 1fr;

    gap: 25px;

    padding: 24px 20px;
  }

  .whatsapp-content {
    align-items: flex-start;
  }

  .whatsapp-qr-wrapper {
    justify-content: center;
    flex-direction: column;
  }

  .scan-text {
    white-space: normal;
  }

  .whatsapp-button {
    width: 100%;

    justify-content: center;

    justify-self: stretch;
  }

  .whatsapp-response {
    grid-column: auto;
    justify-self: center;
    margin: -15px 0 0;
  }

  .hire-card-heading h3 {
    font-size: 18px;
  }

  .hire-role-tags {
    line-height: 1.8;
  }
 
 .two-column {
    flex-direction: column;
    gap:0 !important;
  }


}






