
 /*  HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  padding: 30px;
}

#navbar {
  display: flex;
  gap: 28px;
  justify-content: space-between;
  margin: auto;
  max-width: 50%;
  padding: 8px 30px;
  border-radius: 40px;
  border: 1px solid var(--border);
  background: rgba(0, 0, 0, 0.8); /* or your var(--header-bg) with transparency */
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 18px;
}

.nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  flex-shrink: 0;
}

.logo {
  width: 40px;
  height: auto;
  display: block;
  object-fit: contain;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 40px;   /* FIX: smaller gap */
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links a {
  font-size: 0.7rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  font-size: 0.9rem;
  transition: color 0.3s ease;
  color:var(--text) !important;
}

.nav-links a:hover {
  color:var(--white) !important;
}

.nav-toggler {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  width: 34px;
  height: 34px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  display: none;
}

.nav-toggler span {
  display: block;
  width: 100%;
  height: 1.5px;
  background: var(--text-hover);
  border-radius: 2px;
  transition:
    transform 0.4s cubic-bezier(0.23,1,0.32,1),
    opacity 0.3s;
}

.nav-toggler.open span:nth-child(1) {
  transform: translateY(6.5px) rotate(45deg);
}

.nav-toggler.open span:nth-child(2) {
  opacity: 0;
  transform: scaleX(0);
}

.nav-toggler.open span:nth-child(3) {
  transform: translateY(-6.5px) rotate(-45deg);
}

#navModal {
  position: fixed;
  inset: 0;
  z-index: 999 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  transition: background 0.5s ease;
}

#navModal.active {
  pointer-events: all;
  padding:30px;
}

.modal-inner {
  width: 100%;
  height:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  justify-content: center;
  transform: translateY(20px);
}

#navModal.active .modal-inner {
  opacity: 1;
  transform: translateY(0);
  border-radius: 20px;
 background: var(--btn-bg);
 border: 1px solid var(--border);
}

.modal-nav-links {
  list-style: none;
  text-align: center;
  padding: 0;
}

.modal-nav-links li {
  overflow: hidden;
  margin-bottom: 6px;
}

.modal-nav-links a {
  font-size: clamp(1rem, 5vw, 3rem);
  font-weight: 700;
    text-transform: uppercase;
  line-height: 1.5;
  transform: translateY(110%);
  transition:
    transform 0.55s cubic-bezier(0.23,1,0.32,1),
    color 0.3s,
    letter-spacing 0.35s;
}

.modal-nav-links a:hover {
  letter-spacing: 3px;
}



.modal-nav-links a {
  transform: translateY(110%);
}


#navModal.active .modal-nav-links a {
  transform: translateY(0);
}





/* ////////////////////////////////// */





@media(max-width:757px){

  header{
    padding:15px;
  }

#navbar {
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
  padding:7px 10px;
  border-radius: 40px;
  border: 1px solid var(--border);
  background: rgba(0, 0, 0, 0.8); /* or your var(--header-bg) with transparency */
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}
  
.nav-left {
  display: flex;
  align-items: center;
  width: 100%;
}

.nav-logo {
  display: flex;
  align-items: center;
  order: 1;
}

.logo {
  width: 35px;
  height: auto;
  display: block;
  object-fit: contain;
}

.nav-toggler {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  width: 34px;
  height: 34px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;

  order: 2;
  margin-left: auto; /* Pushes it to the extreme right */
}



  .nav-links {
    display: none;
  }

   .btn {
  padding: 10px 12px;
  font-size: 0.7rem;
}

.modal-nav-links a:hover {
  letter-spacing: normal;
}

}




/* //////////////////////////////////////////// */



@media(max-width:1199px) and (min-width:758px){
  header {
  padding: 30px;
}

#navbar {
  justify-content:space-between;
  border:1px solid var(--border);
  gap: 28px; /* spacing between logo, menu, button */
  width: 100%;
  max-width: 100%;
  padding: 10px 17px;
  border-radius:40px;
  background: var(--black);
}

.logo {
  width: 45px;
  height: auto;
  display: block;
  object-fit: contain;
}


.nav-toggler {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  width: 34px;
  height: 34px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  display: none;
}

 .modal-nav-links a:hover {
  letter-spacing: normal;
}

}

