.projects-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
     gap: 20px;
      width: min(1200px, 100%);
    margin:auto;
}

.project-column{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.project-card{
    border:1px solid var(--border);
    overflow:hidden;
    cursor: pointer;
    min-height:510px;
    background:var(--btn-bg);
    transition:.35s ease;
    border-radius: 13px;
}

.project-card:hover{
  border-color: var(--border-h);
  background: #121212;
}

.project-image{
    position: relative;
    display: block;       
    overflow: hidden;
    height: 280px; 
    border-radius: 0;    
    background: #fff;
}

.project-image img{
    display: block;
    width: 100%;
    height: 280px;         
    object-fit: cover;
    transition: transform .6s ease;
    transform: scale(1);
    will-change: transform;
    margin-bottom:0 !important;
}

.project-image-wrapper{
    border-radius: 0;
}

.project-card:hover .project-image img{
    transform: scale(1.08);
}

.hover-btn{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    opacity:0;
    padding:15px 28px;
    border:none;
    border-radius:50px;
    background:var(--white);
    color:var(--black);
    font-weight:600;
    pointer-events:none;
    transition:opacity .35s ease;
}

/* Show button on card hover */
.project-card:hover .hover-btn{
    opacity:1;
}

.project-content {
    padding: 0 20px ;
}

.project-content p{
    color:var(--text);
    margin-bottom:25px;
    line-height:1.6;
}

.tags{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
}

.tags span{
    border:1px solid var(--border);
    padding:7px 16px;
    border-radius:50px;
    color:var(--text);
    font-size:.8rem;
}

.project-footer{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 20px;
    border:1px solid var(--border);
    border-radius:15px;
    background:var(--btn-bg);
    text-decoration:none;
    transition:.3s;
}

.project-footer:hover{
  border-color: #4a4a4a;
  background: #121212;
}

.arrow{
    width:50px;
    height:40px;
    display:grid;
    place-items:center;
    border:1px solid var(--border);
    border-radius:20px;
    font-size:1.4rem;
    align-items: center;
    justify-content: center;
    display: flex;
    color:var(--text);
    transition:.3s;
}

.project-footer:hover .arrow{
    transform:translateX(3px);
}






/* ////////////////////////////////////////// */



/* inside page */


.project-hero .projects-grid{
   margin-top:90px !important;
   gap:70px;
}

.project-hero-grid{
    display:grid;
    grid-template-columns:1fr 1.2fr;
    gap:70px;
    width:min(1200px,100%);
    margin: auto;
    align-items:center;
}

.project-info h1{
    font-size:3rem;
    font-weight:500;
    margin-bottom:24px;
}

p{
    font-size:1rem;
    line-height:1.8;
    color:var(--text) !important;
}

.project-meta{
    display:flex;
    flex-direction:column;
}

.meta-item span{
    display:block;
    color:var(--text);
    font-size:15px;
    margin-bottom:14px;
}

.meta-item h4{
    font-size:28px;
    font-weight:400;
    color:#fff;
    line-height:1.6;
}

.project-preview img{
    width:100%;
    display:block;
    border-radius:24px;
    box-shadow:0 25px 60px rgba(0,0,0,.35);
}

.mobile-preview {
  display: none;
}

.desktop-preview {
  display: block;
}





@media(max-width:1199px) and (min-width:758px){

   .projects-grid{
      display: grid;
   width: 100%;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.project-column{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.project-card{
    min-height:560px;
}

.project-card:hover .project-image img{
    transform: none;
}

    .project-footer:hover .arrow{
    transform:none;
}

.project-footer:hover{
      background:var(--btn-bg);
}

}



@media(max-width:757px){
   
   .projects-grid{
      display: grid;
   width: 100%;
  grid-template-columns: repeat(1, 1fr);
  gap: 15px;
}

.project-column{
    display:flex;
    flex-direction:column;
    gap:3px;
}


.project-card{
    min-height:480px;
}

    .project-image {
        height:240px;
    }

    .project-image img{
        height:240px;
    }

.project-card:hover .project-image img{
    transform: none;
}

h3{
    font-size: 1.5rem !important;
}

    .project-footer:hover .arrow{
    transform:none;
}

.project-footer:hover{
      background:var(--btn-bg);
}

.project-hero-grid{
     grid-template-columns:1fr;
}

.project-info h1{
    font-size:2rem;
    font-weight:500;
    margin-bottom:24px;
}

  .mobile-preview {
    display: block;
  }

  .desktop-preview {
    display: none;
  }

  
.project-hero .projects-grid{
   margin-top:50px !important;
   gap:30px;
}

}




















.project-cta {
  width: 100%;
  padding: 0 6px;
  box-sizing: border-box;
}

.project-cta-content {
  position: relative;
  min-height: 170px;
  padding: 30px 36px;

  display: grid;
  grid-template-columns: minmax(0, 1fr) 290px;
  align-items: center;
  column-gap: 60px;

  box-sizing: border-box;
  overflow: hidden;

  border: 1px solid var(--border);
  background: var(--btn-bg);

  width: min(1200px, 100%);
  margin: auto;

  border-radius: 10px;
}


/* --------------------------------
   HEADING
-------------------------------- */

.project-cta .section-heading {
  text-align: start !important;
  margin-bottom: 0;
}

.ctatext {
  font-size: 1rem !important;
}


/* --------------------------------
   LEFT
-------------------------------- */

.project-cta-left {
  position: relative;
  z-index: 2;
}


/* --------------------------------
   RIGHT
-------------------------------- */

.project-cta-right {
  position: relative;
  z-index: 3;

  width: 100%;

  display: grid;
  grid-template-columns: 1fr;
  justify-items: start;
  align-content: center;
}


/* --------------------------------
   RESUME LINK
-------------------------------- */

.resume-link {
  margin-top: 22px;

  display: flex;
  align-items: center;
  gap: 10px;

  font-family: Arial, sans-serif;
  font-size: 13px;
}

.resume-link > span {
  color: var(--text);
}

.resume-link a {
  position: relative;

  display: flex;
  align-items: center;
  gap: 13px;

  padding-bottom: 7px;

  color: var(--white);
  text-decoration: none;
  font-weight: 500;
}

.resume-link a::after {
  content: "";

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  height: 1px;
  background: var(--text);
}


/* --------------------------------
   TABLET
-------------------------------- */

@media (max-width: 1199px) and (min-width:758px){

  .project-cta-content {
    padding: 28px;
    grid-template-columns: minmax(0, 1fr) 270px;
    column-gap: 35px;
  }

  .project-cta-left h2 {
    font-size: 32px;
  }

  .cta-decoration {
    left: 43%;
    opacity: 0.35;
  }

  .project-cta-right {
    width: 100%;
  }

  .project-project-btn {
    width: 240px;
  }
}


/* --------------------------------
   MOBILE
-------------------------------- */

@media (max-width: 650px) {

  .project-cta-content {
    min-height: auto;

    padding: 28px 24px;

    grid-template-columns: 1fr;
    row-gap: 25px;
  }

  .project-cta-left h2 {
    font-size: 31px;
  }

  .desktop-break {
    display: none;
  }

  .project-cta-left p {
    font-size: 13px;
  }

  .cta-decoration {
    left: auto;
    right: -35px;
    top: 55px;

    transform: none;

    opacity: 0.25;
  }

  .project-cta-right {
    width: 100%;

    display: grid;
    grid-template-columns: 1fr;
    justify-items: start;
  }

  .project-project-btn {
    width: 100%;
    max-width: 300px;
  }

  .resume-link {
    margin-top: 18px;

    flex-wrap: wrap;
    gap: 10px;
  }
}