.why-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.hero-buttons{
    display: flex;
    justify-content: center;
    width: 100%;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 18px;
}

.button-group{
    display: flex;
    flex-direction: column;
    align-items: center;
}












/* //////////////////// */


.project-cta {
  width: 100%;
  padding: 0 6px;
  box-sizing: border-box;
}

.project-cta-content {
  position: relative;
  min-height: 170px;
  padding: 30px 36px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  border: 1px solid var(--border);
  background: var(--btn-bg);
  width: 1200px;
  margin: auto;
  border-radius: 10px;
}


.project-cta .section-heading{      /* home, page, freelance, hire */
    text-align: start !important;
    margin-bottom: 20px;
}

.ctatext{
  font-size: 1rem !important;
}


/* --------------------------------
   LEFT
-------------------------------- */

.project-cta-left {
  position: relative;
  z-index: 2;
}

/* --------------------------------
   RIGHT
-------------------------------- */

.project-cta-right {
  position: relative;
  z-index: 3;
  width: 290px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.resume-link {
  margin-top: 22px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: Arial, sans-serif;
  font-size: 13px;
}

.resume-link > span {
  color: var(--text);
}

.resume-link a {
  position: relative;
  display: flex;
  align-items: center;
  gap: 13px;
  padding-bottom: 7px;
  color: var(--white);
  text-decoration: none;
  font-weight: 500;
}

.resume-link a::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background:var(--text);
}




/* --------------------------------
   TABLET
-------------------------------- */

@media (max-width: 850px) {
  .project-cta-content {
    padding: 28px;
  }

  .project-cta-left h2 {
    font-size: 32px;
  }

  .cta-decoration {
    left: 43%;
    opacity: 0.35;
  }

  .project-cta-right {
    width: 270px;
  }

  .project-project-btn {
    width: 240px;
  }
}

/* --------------------------------
   MOBILE
-------------------------------- */

@media (max-width: 650px) {
  .project-cta-content {
    min-height: auto;

    padding: 28px 24px;

    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
  }

  .project-cta-left h2 {
    font-size: 31px;
  }

  .desktop-break {
    display: none;
  }

  .project-cta-left p {
    font-size: 13px;
  }

  .cta-decoration {
    left: auto;
    right: -35px;
    top: 55px;

    transform: none;

    opacity: 0.25;
  }

  .project-cta-right {
    width: 100%;
  }

  .project-project-btn {
    width: 100%;
    max-width: 300px;
  }

  .resume-link {
    margin-top: 18px;

    flex-wrap: wrap;
    gap: 10px;
  }
}