.services{
    padding:0px 20px ;
}

.services-box{
    max-width:1150px;
    margin:auto;
     background:var(--btn-bg);
    border:1px solid var(--border);
    border-radius:15px;
    overflow:hidden;
}

.service-item{
    padding:40px 50px;
    border-bottom:1px solid #1b1b1b;
}

.service-item:last-child{
    border-bottom:none;
}

.service-header{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    cursor:pointer;
}

.service-header h2{
    margin:0;
    font-size:3rem;
    color:var(--text);
    transition:.3s;
}

.service-item:hover h2,
.service-item.active h2{
    color:var(--white) !important;
}

.service-header span{
    color:var(--white);
    font-size:.9rem;
}

.service-content{
    margin-top:25px;
    animation:fade .3s ease;
}

.service-content ul{
    list-style:none;
    padding:0;
    margin:0;
}

.service-content li{
    color:var(--text);
    margin-bottom:12px;
    font-size:1rem;
}


/* //////////// */






.pricing-box{
    margin-top:70px;
    border-radius:30px;
    padding:40px;
}

.pricing-box h3{
    font-size:2rem;
    margin-bottom:25px;
}

.secondary-title{
    margin-top:50px;
}

.important-title{
    margin-top:50px;
}

.price-row{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 0;
 border-bottom:1px solid #1b1b1b;
}

.price-row span:first-child{
    font-size:1.2rem;
    font-weight:600;
}

.price{
    border:1px solid var(--border);
    border-radius:30px;
    padding:8px 18px;
    font-size:.85rem;
    color:var(--white);
    background:var(--btn-bg);
}

.pricing-note{
    color:var(--text);
    margin:15px 0 35px;
}





@media(max-width:1199px) and (min-width:758px){
.service-header h2{
    font-size:2.5rem;
}

}

@media(max-width:757px){


.service-item{
    padding:30px;
    border-bottom:1px solid #1b1b1b;
}

.service-header h2{
    font-size:1.6rem;
}


    .pricing-box{
        padding:25px;
    }

    .price-row{
        flex-direction:column;
        align-items:flex-start;
        gap:12px;
    }

    .pricing-box h3{
        font-size:1.5rem;
    }

    .price{
    border:1px solid var(--border);
    border-radius:30px;
    padding:6px 12px;
    font-size:.85rem;
    color:var(--white);
    background:var(--btn-bg);
}
}