.testimonial-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
    width:1200px;
    margin: auto;
}

.testimonial-card{
    background:var(--btn-bg);
    border:1px solid var(--border);
    border-radius:13px;
    padding:30px;
    transition:.3s;
}

.testimonial-card:hover{
    border-color:var(--border-h);
    transform:translateY(-3px);
}

.testimonial-top{
    display:flex;
    align-items:center;
    gap:16px;
}

.testimonial-top img{
    width:64px;
    height:64px;
    border-radius:12px;
    object-fit:cover;
}

.testimonial-top h3{
    margin:0;
    font-size:1.5rem;
}

.testimonial-top span{
    color:var(--text);
    font-size:0.9rem;
}

.divider{
    height:1px;
    background:var(--border);
    margin:28px 0;
}

.rating{
    display:flex;
    align-items:center;
    gap:10px;
    margin-bottom:22px;
}

.rating span:first-child{
    color:var(--text);
    font-size:1.1rem;
}

.stars{
    color:#d0af16;
    letter-spacing:3px;
    font-size:1.2rem;
}

.testimonial-card p{
    color:var(--text);
    line-height:1.9;
    margin:0;
}


.stars{
  display:flex;
  gap:4px;
}

.star{
  position:relative;
  font-size:1.2rem;
  width:18px;
  display:inline-block;
}

.star-empty{
  color:#444; /* empty star */
}

.star-fill{
  position:absolute;
  left:0;
  top:0;
  overflow:hidden;
  white-space:nowrap;
  color:#f4c430; /* gold */
}

/* Tablet */

@media (max-width:1199px) and (min-width:758px){

    .testimonial-grid{
        display: grid;
   width: 100%;
  grid-template-columns: repeat(1, 1fr);
  gap: 15px;
}


.testimonial-card:hover{
    border-color:var(--border-h);
    transform:none;
}

}

/* Mobile */

@media (max-width:757px){

    .testimonial-grid{
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    gap:10px;
    width:100%;
    margin: auto;
}

    .testimonial-card:hover{
       transform:none;
        border-color:var(--border-h);
    }

    .testimonial-top h3{
        font-size:1.5rem;
    }

    .testimonial-top img{
        width:58px;
        height:58px;
    }

}